<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p>Info: I started this project to help me understand more about authentication 
    and learn more about backend! All of this was made with EJS, Mongoose, Passport, Express, & Node.JS!
    This boilerplate will be handy for Authentication in the future.
</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
